.container-story-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0px;
  flex-direction: column;
}

.story-title-container {
  position: relative;
}
.story-title-container input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 262px;
  margin-top: 10px;
  height: 65px;
  border: none;
  outline: none;
  direction: rtl;
  background-color: #f1e1c6;
  font-size: 26px;
}
.story-title-container .story-title-img {
  width: 450px;
  /* height: 300px; */
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #f8492a;
}

/* MK CSS  */
.button-form {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
