body {
  background-color: #eb6745;
}
@font-face {
  font-family: 'riyad';
  src: url('riyad.ttf');
}
.header {
  padding: 50px 0;
}
.headr-img img {
  width: 70%;
  margin-bottom: 20px;
}
.conten-text {
  text-align: center;
  width: 89%;
  margin: auto;
  border: 2px solid #f2e7d1;
  background-color: #f2e7d1;
  border-radius: 32px
    /* clip-path: polygon(0 8%, 21% 7%, 15% 0%, 83% 0, 77% 9%, 100% 9%, 100% 80%, 78% 80%, 85% 100%, 15% 100%, 21% 80%, 0 80%); */;
  margin-top: 23px;
  font-family: riyad;
}
.conten-text h1 {
  font-size: 19px;
  font-weight: bold;
}
.conten-text img {
  width: 24%;
  margin-top: 25px;
  border-radius: 27px;
}
.conten-text div {
  text-wrap: balance;
  font-size: 17px;
}
@media (max-width: 477px) {
  .conten-text img {
    width: 41%;
    margin-top: 5px;
    border-radius: 27px;
  }
  .conten-text {
    height: 517px;
  }
  .conten-text div {
    font-size: 15px;
  }
}
@media (max-width: 799px) {
  .conten-text {
    height: 48%;
  }
  .conten-text h3 {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .conten-text {
    height: 48%;
  }
}
.foot-img img {
  margin-bottom: 12px;
  width: 16%;
}
/* @media (max-width:477px) {
    .headr-img img{
    width: 97%;
    margin-top: 7px;
}
} */
